---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Social Swing KC',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Main Top Section of Home page. Intro to what is WCS-->
  <Hero>
    <Fragment slot="title">
      <span class="font-mistrully text-socialswingblue dark:text-white">Come dance with us!</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-poppins text-socialswingblue dark:text-white">WHAT IS WEST COAST SWING?</span>
      </Fragment>
    
    <Fragment slot="content">
      <p class="text-lg text-socialswingblue dark:text-gray-300">
        West Coast Swing is a partner dance with roots in Lindy Hop. It is characterized by a distinctive elastic look that results from its basic extension-compression technique of partner connection, and is danced primarily in a slotted area on the dance floor. The dance allows for both partners to improvise steps while dancing together.
      </p>
      <p class="text-lg text-socialswingblue dark:text-gray-300">
        The rules for how to do the dance are simple enough that anyone can get up and running in a short amount of time, but a practitioner may refine their technique to a very high degree of sophistication.      </p>
    </Fragment>
  </Hero>
<!-- Outline of community values-->
  <Features
  title="OUR VALUES"
  subtitle="Our culture is supported by three main pillars:"
  items={[
    {
      title: 'CONSENT',
      description:
        'No one should feel compelled to dance with any partner or in any manner that is against their will.',
      icon: 'tabler:thumb-up',
    },
    {
      title: 'EMPATHY',
      description:
        'Endeavor to understand and adjust to your partner. Dance the dance that gives them the most joy. Foster community through inclusion by dancing with everyone.',
      icon: 'tabler:heart-check',
    },
    {
      title: 'DUALITY',
      description:
        'Sometimes, valid principles will contradict each other.  For instance, a good community member should be inclusive toward other dancers, but no community member should be compelled to engage with individuals that make them uncomfortable.  We should acknowledge and embrace this phenomenon, and work to seek when and how one of our beliefs takes precedence over another.',
      icon: 'tabler:refresh',
    }
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 dark:bg-transparent"></div>
  </Fragment>
</Features>

</Layout>
